.flex-container {
  display: flex
}

.flex-justify-center {
  justify-content: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}


.flexColumnReverse {
  flex-direction: column-reverse
}

.div-inline {
  display: inline-block;
}

.store-search-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.store-search-modal-content {
  width: 30%;
  height: 60%;
  margin: 10% auto;
  background-color: white;
  overflow-y: hidden;
}

.store-input-container {
  max-height: 20%;
  text-align: center;
  margin-bottom: 10px;
}

.store-results-container {
  max-height: 80%;
  padding-top: 15px;
  overflow-y: auto;
}

.store-search-item-container {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.store-address-container {
  display: inline-block;
}

.store-select-button-container {
  margin-top: auto;
  margin-bottom: auto;
}

.store-close-btn-container {
  display: flex;
  flex-direction: row-reverse;

}

.product-search-input-container {
  display: flex;
  justify-content: center;
}

.card-holder-all {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.card-div {
  max-width: 250px;
  min-width: 250px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.pricing-div {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 100%;
  /*width: 100%;*/
  display: flex;
  flex-direction: column-reverse;
}


.dialog-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.dialog-modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-color: #FFFFFF;
}

.productModal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.productModalContent {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  background-color: #FFFFFF;
}


.productModalBtnDiv {
  display: flex;
  justify-content: flex-end;
}

.productModalImgDiv {
  margin: auto;
  display: flex;
  justify-content: center;

}

.productModalPriceDiv {
}

.watchModalBtnDiv {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.watchModalPricesContainer {
  display: flex;
  justify-content: space-between;
}
